*{
  box-sizing: border-box;
}
body{
  padding: 0;
  margin: 0;
  font-family: 'avenir next';
  background: #d6d6d6;
}
#map {
  width: 100%;
  height: 100vh;
  left: 0%;
  background: #d6d6d6;
}
.leaflet-map-pane{
  background: #d6d6d6;}
.leaflet-control-attribution{
  display: none;
}
.storelocator{
  display: flex;
}
.storelocator__sidebar{
  width: 25%;
  color: white;
  position: fixed;
  z-index: 9;
}
.storelocator__sidebar.open,
.storelocator__sidebar.open .storelocator__sidebar__header,
.storelocator__sidebar.open .storelocator__sidebar__list{
  width: 100%;
}
.storelocator__sidebar.open .expand__btn{
  cursor: w-resize;
}
.storelocator__sidebar.open .storelocator__sidebar__list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.storelocator__sidebar.open .storelocator__sidebar__list li{
  width: 20%;
  margin-right: 2%;
}
.expand__btn{
  background: rgba(255,255,255,.1);
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9;
  cursor: w-resize;
}
.storelocator__sidebar input{
  background: transparent;
  border: 1px solid white;
  padding: 20px;
  color: white;
  width: 100%;
  font-size: 1em;
}
.storelocator__sidebar__header{
  background: rgba(50,50,70,1);
  padding: 40px;
  margin: 0;
  position: fixed;
  width: 25%;
}
.storelocator__sidebar__header h1{
  margin: 0 0 .3em;
  font-size: 1.5em;
}
.storelocator__sidebar__header p{
  margin: 0 0 1em;
}
.storelocator__sidebar__list{
  list-style: none;
  padding: 20px 40px 40px 40px;
  position: fixed;
  width: 25%;
  height: 200px;
  background: rgb(120,120,135);
  bottom: 0;
  overflow: auto;
  margin: 0;
  font-size: .875em;
  transition: .2s ease-out;
  transform: translateX(-100%);
}
.storelocator__sidebar.expand .storelocator__sidebar__list{
  transform: translateX(0%);

}
.storelocator__sidebar__list li{
  padding: 15px 0;
  opacity: .7;
  border-bottom: 1px solid rgba(255,255,255, .3);
  transition: .2s ease-in-out;
}
.storelocator__sidebar__list li p{
  margin: 0 0 .2em;
  font-size: .875em;
}
.storelocator__sidebar__list li h2{
  margin: 0 0 .2em;
  font-size: 1.2em;
}
.storelocator__sidebar__list li:hover{
  cursor: pointer;
  opacity: 1;
  border-bottom: 1px solid rgba(255,255,255, 1);
}
::-webkit-input-placeholder {
    color:    #fff;
}
:-moz-placeholder {
    color:    #fff;
}
::-moz-placeholder {
    color:    #fff;
}
:-ms-input-placeholder {
    color:    #fff;
}
